<footer class="institutional-footer">
  <div class="footer-items">
    <span><mat-icon>schedule</mat-icon> Lunes a viernes 8 am a 5 pm</span>
    <span><mat-icon>language</mat-icon> OATI</span>
    <span><mat-icon>phone</mat-icon> 323 93 00 Ext. 1112</span>
    <span><mat-icon>location_on</mat-icon> Cra 8 # 40-78 Piso 1</span>
    <span><mat-icon>email</mat-icon> Computo&#64;udistrital.edu.co</span>
  </div>
  <div class="footer-logo">
    <span class="logo-text">Universidad Distrital<br />Francisco José de Caldas</span>
  </div>
</footer>
